<a href="https://colab.research.google.com/github/kkostromin/sber_ds/blob/main/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Синтаксис**

---

In [ ]:
print("Python is awesome!") 
var = "first string" 
print(var) 
var = 2 + 9 
print(var)

Python is awesome!
first string
11

кавычки

In [ ]:
print("String") 
print('String') 
print('''Str 
... ing''')
print('Str"ing')

String
String
Str
... ing
Str"ing

Комментарии

In [ ]:
print("комментарий справа") # Функция print() позволяет выводить результат на экран комментарий справа

Вложенные инструкции

In [ ]:
#инструкция объявляющая переменную var и присваивающая ей значение равное 5 
var = 5
#основная инструкция 1
if var < 3: 
#вложенная инструкция, отступает от основной инструкции 1 
    print("less") 
#основная инструкция 2 
else: 
#вложенная инструкция, отступает от основной инструкции 2 
    print("more")

more

In [ ]:
# объявляем переменную var равную 5 
var = 5
# основная инструкция 
if var > 3: 
# вложенная инструкция уровня 1 
    if var > 4: 
# вложенная инструкция уровня 2, отступает на 4 пробела от 
# вложенной инструкции уровня 1 
        print("more than 4")
        
if var < 3: print("like this")

like this

# 2.Типы и объекты

**None type**

In [ ]:
null_variable = None 
not_null_variable = 'something' 
if null_variable == None: 
    print('null_variable is None') 
else: 
    print('null_variable is not None') 
if not_null_variable == None: 
    print('not_null_variable is None') 
else: 
    print('not_null_variable is not None')

null_variable is None
not_null_variable is not None

**Логический тип данных (bool)**

In [ ]:
a = 0
b = 1
print(a < b)
print(a > b)
print(a == b)

True
False
False

**Целые числа** используются для стандартных арифметических операций, когда нас не интересует точность, до n-го знака.

int - целое число

Напротив, числа, применяющиеся для точных вычислений до n-го знака после запятой - **числа с плавающей точкой**. При арифметическом взаимодействии двух типов (int и float), результат всегда будет иметь тип float.

float - число с плавающей точкой
Комплексные числа предназначены для более сложных математических вычислений, они состоят из вещественной и мнимой части.

complex - **комплексное число**

# -Типы коллекций
**Списки** являются своего рода хранилищем данных разного типа, другими словами списки это массивы, только хранить они могут данные разных типов. Более подробно об этом типе будет рассказано в разделе "Списки".

list - список
 

**Кортеж** - это список, который после создания нельзя изменить, очень полезно его использовать для защиты "от дурака", чтобы по ошибке данные не были изменены.

Более подробно об этом типе будет рассказано в разделе "Кортежи".

tuple - кортеж
 

Генератор списков используется, когда нам нужно вывести последовательность целых чисел. Более

подробно об этом типе будет рассказано в уроке "Циклы".

range - диапазон, неизменяемая последовательность целых чисел.
 

**Множества** - коллекции для неповторяющихся данных, хранящие эти данные в случайном порядке.

set - множество
frozenset - неизменяемое множество
Более подробно об этих типах будет рассказано в разделе "Множества".

 

**Словари** - являются набором пар "ключ"-"значение", довольно удобный тип данных для формирований структур. Более подробно об этом типе будет рассказано в разделе "Словари".

dict - словарь
 

Следующие два типа перечислены для ознакомления, в дальнейшем мы не будем уделять им практического значения в рамках данного курса.

**Байт**  - это минимальная единица хранения и обработки цифровой информации. Данный тип допускает возможность производить изменение кодировки символов в зависимости от задач.

bytes - байты
 

Последовательность байт  - представляет собой некую информацию (текст, картинка и т.д.). Помимо изменения кодировки, имеет дополнительные возможности применять методы к перекодированным строкам и вносить изменения.

 

bytearray - массивы байт

In [ ]:
#type(None)
#type(True)
#type(False)
#type(1)
#type(5.3)
#type(5 + 4j)
#type([1, 5.3, False, 4])
#type((1, True, 3, 5+4j))
#type(range(5))
#type('Hello')
#type(b'a')
#type(bytearray([1,2,3]))
#type(memoryview(bytearray('XYZ', 'utf-8')))
type({'a', 3, True})
type(frozenset({1, 2, 3}))
type({'a' : 32})

dict

# 3.Типы операторов

 **Арифметические операторы**
Символ


Описание


Пример


+


Оператор суммы


>>> print(5 + 8)

13


-


Оператор разности


>>> print(31 - 2)

29


*


Оператор произведения


>>> print(12 * 9)

108


/


Оператор деления


>>> print(6 / 4)

1.5


%


Оператор получения остатка от деления


>>> print(6 % 4)

2


**


Оператор возведения в степень


>>> print(9 ** 2)

81


//


Оператор целочисленного деления


>>> print(6 // 4)

1

**Операторы сравнения (реляционные)**

==


Проверяет, равны ли операнды между собой. Если они равны, то выражение становится истинным.


>>> print(5 == 5)

True
>>> print(6 == 44)

False


!=


Проверяет, равны ли операнды между собой. Если они не равны, то выражение становится истинным.


>>> print(12 != 12)

False
>>> print(1231 != 0.4)

True


>


Проверяет, больше ли левый операнд чем правый, если больше, то выражение становится истинным.


>>> print(53 > 23)

True
>>> print(432 >500)

False


<


Проверяет, меньше ли левый операнд чем правый, если меньше, то выражение становится истинным.


>>> print(5 < 51)

True
>>> print(6 < 4)

False


>=


Проверяет, больше левый операнд, чем правый, или равен ему. Если больше или равен, то выражение становится истинным.


>>> print(5 >= 5)

True
>>> print(6 >=44)

False


<=


Проверяет, меньше левый операнд, чем правый, или равен ему. Если меньше или равен, то выражение становится истинным.


>>> print(32 <= 232)

True
>>> print(65 <= 9)

False

**Операторы присваивания**

Символ


Описание


Пример


=


Присваивает значение правого операнда левому


>>> var = 5

>>> print(var)

5


+=


Прибавляет значение правого операнда к левому и присваивает левому. a += b эквивалентно записи
a=a+b


>>> var = 5

>>> var += 4

>>> print(var)

9


-=


Отнимает значение у левого операнда правое и присваивает левому. a -= b эквивалентно записи a = a -b


>>> var = 5

>>> var -= 2

>>> print(var)

3


*=


Умножает значение левого операнда на правое и присваивает левому. a *= b эквивалентно записи a=a*b


>>> var = 5

>>> var *= 10

>>> print(var)

50


/=


Делит значение левого операнда на правое и присваивает левому. a /= b эквивалентно записи a=a/b


>>> var = 5

>>> var /= 4

>>> print(var)

1.25


%=


Делит с остатком значение левого операнда на правое и присваивает остаток левому. a %= b эквивалентно записи a = a % b


>>> var = 5

>>> var %= 10

>>>print(var)
5

**=


Возводит значение левого операнда в степень правого и присваивает левому. a **= b эквивалентно записи a = a ** b


>>> var = 5

>>> var **= 8

>>>print(var)

390625


//=


Целочисленно делит значение левого операнда на правое и присваивает левому. a //= b эквивалентно записи a = a // b


>>> var = 5

>>> var //= 30

>>>print(var)

0

In [ ]:
var = 5

var %= 10

print(var)

5

**Побитовые операторы**

Данные операторы работают с данными в двоичной системе счисления. Например число 13 в двоичной системе будет равно 1101

Символ


Описание


Пример (в двоичной системе)


&


Бинарный "И" оператор, копирует бит в результат только если бит присутствует в обоих операндах


0&0=0

1&0=0

0&1=0

1&1=1

101 & 110 = 100


|


Бинарный "ИЛИ" оператор копирует бит, если тот присутствует в хотя бы в одном операнде


0|0=0

1|0=1

0|1=1

1|1=1

101 | 110 = 111


^


Бинарный "Исключительное ИЛИ" оператор копирует бит только если бит присутствует в одном из операндов, но не в обоих сразу


0^0=0

1^0=1

0^1=1

1^1=0
101 ^ 110 = 011


~


Побитовая операция "НЕ". Для числа a соответствует -(a+1)


~1 = -10
~0 = -1

~101 = -110


>>


Побитовый сдвиг вправо. Значение левого операнда "сдвигается" вправо на количество бит указанных в правом операнде


100 >> 2 = 001


<<


Побитовый сдвиг влево. Значение левого операнда "сдвигается" влево на количество бит указанных в правом операнде


100 << 2 = 10000

**Логические операторы**

and


Логический оператор "И". Условие будет истинным если оба операнда истина


True and True = True.

True and False = False.

False and True = False.

False and False = False.


or


Логический оператор "ИЛИ". Если хотя бы один из операндов истинный, то и все выражение будет истинным


True or True = True.

True or False = True.

False or True = True.

False or False = False.


not


Логический оператор "НЕ". Изменяет логическое значение операнда на противоположное


not True = False.

not False = True.

**Операторы членства**

in


Возвращает истину, если элемент присутствует в последовательности, иначе возвращает ложь


>>> print('he' in 'hello')

True

>>> print(5 in [1, 2, 3, 4, 5])

True

>>> print(12 in [1, 2, 4, 56])

False


not in


Возвращает истину если элемента нет в последовательности


результаты противоположны примерам выше

**Операторы тождественности**

Данные операторы помогают сравнить размещение двух объектов в памяти компьютера

Символ


Описание


Пример


is


Возвращает истину, если оба операнда указывают на один объект


>>> a = 12

>>>b = 12

>>> a is b

True

>>> c = 22

>>> a is c

False


is not


Возвращает ложь, если оба операнда указывают на один объект


результаты противоположны примерам выше

# 4.Условные операторы

*Даны два целых числа. Выведите значение наименьшего из них.*

In [ ]:
a = int(input())
b = int(input())
if a > b:
  print("Число а больше чем b: " + str(a)) 
  print("Число b меньше чем а: " + str(b))
else:
  print("Числа а и b равны " + "а = " + str(a) + " b = " + str(b))

-8
-8
Числа а и b равны а = -8 b = -8

*Даны три целых числа. Выведите значение наименьшего из них.*

In [16]:
a = int(input())
b = int(input())
c = int(input())

if a>b and a>c and b>c:
  print("Число c меньше чем b и a: " + str(c)) 
if a<b and a<c:
  print("Число a меньше чем c и b " + str(a)) 
if b<a and b<c:
  print("Число b меньше чем a и c " + str(b))

1
10
20
Число a меньше чем c и b 1